body {
  /* background-color: rgb(45, 51, 77) !important; */
  background-color: white;
  overflow-x: hidden;
  /* padding-top: 80px;
  letter-spacing: 0.1rem; */
}

@font-face{
  font-family: AuroBlack;
  src: url('../src/fonts/auroblack.otf');
}

@font-face{
  font-family: AuroRegular;
  src: url('../src/fonts/auroregular.otf');
}

h1, th {
  font-family: AuroBlack;
  color: rgb(45, 51, 77);
  font-size: 0.8rem !important;
  letter-spacing: 0.2rem;
}

h2, h3, h4, h5, h6, p, nav, td, li {
  font-family: AuroRegular;
  color: rgb(45, 51, 77);
  font-size: 1rem !important;
  letter-spacing: 0.1rem;
}

.color-verde{
  color: rgb(0, 237, 179);
}

.color-azul {
  background-color: rgb(45, 51, 77);
}

.wplogo {
  width: 60px;
  position: fixed;
  right: 20px;
  bottom: 30px;
  z-index: 1000;
}

.sendcont {
  height: 80vh;
}

textarea {
  height: 10rem !important;
}

/* NAVBAR */

.navcolor {
  background-color: rgb(59, 28, 153);
  /* position: static; */
}

.nav-item {
  color: rgb(255, 255, 255) !important;
  text-decoration: underline !important;
  font-weight: bold !important;
  font-size: 0.8rem !important;
  padding-left: 1rem !important;
}

.nav-item:hover {
  color: rgb(0, 237, 179) !important;
  text-decoration: underline !important;
  font-size: 0.8rem !important;
  padding-left: 1rem !important;

}

.logoPP {
  height: 50px;
  width: auto;
  margin: 20px;
  margin-left: 5rem;
}

.navbar-nav {
  margin-left: 300px;
}

.navbar span {
  color: white !important;
  z-index: 999;
}


/* INICIO */

.cont-inicio {
  margin: 80px 0;
}

.cont-inicio .middle .primtit {
  margin-bottom: 40px;
  font-size: 40px !important;
}

.cont-inicio .middle .primsubtit {
  margin-bottom: 60px;
  font-size: 15px !important;
}

.cont-inicio .btncolor {
  background-color: rgb(59, 28, 153);
  color: rgb(255, 255, 255);
  border-radius: 50px;
  font-family: AuroBlack;
  padding: 10px 30px;
  font-size: 18px !important;
  letter-spacing: 0.2rem;
  vertical-align: middle !important;
  margin-bottom: 120px;
}

.cont-inicio .doubleline {
  width: 50%;
}

.isopp {
  position: absolute;
  width: 6%;
  height: 8%;
  top: -0.3rem;
  left: -0.5rem;
}

.cont-inicio .contactbutton {
  width: 35%;
}


.cont-inicio .personauno {
  width: 50%;
  height: auto;
  position: absolute;
  right: 450px;
  top: 90px;
}

.cruces {
  width: 8%;
  position: absolute;
  right: 1000px;
}

.middle .some {
  vertical-align: middle;
}

.some {
  padding-left: 2.4rem;
}

.cont-inicio .partner {
  width: 20%;
  position: absolute;
  top: 530px;
  right: 200px;
}

.last {
  text-align: right;
  margin-right: 400px;
  margin-top: 100px;
}

.last .primtit {
  font-family: AuroBlack;
  font-size: 40px !important;
}

.last .subprimtit {
  font-family: AuroBlack;
  font-size: 26px !important;
  margin-bottom: 20px;
}

.last .subtit {
  font-family: AuroRegular;
  font-size: 20px !important;
}

/* QUE HACEMOS */

.quehacemos {
  margin-top: 200px;
}

.quehacemos .text {
  margin-left: 250px;
}

.quehacemos .text .primtit {
  font-family: AuroBlack;
  font-size: 25px !important;
  margin-bottom: 30px;
}

.quehacemos .text .subprimtit {
  font-family: AuroRegular;
  font-size: 15px !important;
}

.quehacemos .rocket {
  position: absolute;
  top: 1070px;
  left: 800px;
  width: 15%;
  height: auto;
}

.servleg {
  margin-top: 150px;
  text-align: right;
  margin-right: 300px;
}

.quehacemos .servlegtable {
  position: absolute;
  left: 680px;
  /* margin-bottom: 400px; */
}

.quehacemos .servleg .primtit {
  font-family: AuroBlack;
  font-size: 30px !important;
  margin-bottom: 30px;
  margin-right: 45px;
}

.quehacemos .servleg .subprimtit {
  font-family: AuroRegular;
  font-size: 20px !important;
  margin-bottom: 60px;
  margin-right: -35px;
}

.quehacemos .tablecross {
  width: 3.4%;
  margin-right: 75px;
  vertical-align: top !important;
}

.quehacemos .tableinfo {
  font-size: 15px !important;
}

/* .quehacemos .servleg .table tr {
  margin-bottom: 60px;
}

.quehacemos .servleg .table .tableinfo {
  font-family: AuroRegular;
  font-size: 25px !important;
  margin-left: 300px !important;
} */

/* TRABAJAMOS */

.trabajamos-cont {
  margin-top: 350px;
}

.trabajamos-cont .doubleline {
  width: 20%;
  margin: 100px 0px;
}

.trabajamos-cont .checkbox {
  width: 7%;
  position: absolute;
  top: 2110px;
  left: 340px;
}

.trabajamos-cont .primtit {
  font-family: AuroBlack;
  font-size: 30px !important;
  margin-bottom: 30px;
  margin-right: 45px;
}

.trabajamos-cont .subprimtitblack {
  font-family: AuroBlack;
  font-size: 15px !important;
  margin-bottom: 60px;
}

.trabajamos-cont .subprimtit {
  font-family: AuroRegular;
  font-size: 15px !important;
  margin-bottom: 120px;
}

.trabajamos-cont .cologo {
  position: absolute;
  top: 2700px;
  left: 380px;
  width: 12%;
  height: auto;
}

.trabajamos-cont .onda {
  position: absolute;
  top: 2575px;
  left: 500px;
  width: 30%;
  height: auto;
}

.trabajamos-cont .pplogo {
  position: absolute;
  top: 2545px;
  left: 960px;
  width: 10%;
  height: auto;
}

/* POR QUE */

.porque-cont {
  margin-top: 500px;
}

.porque-cont .primtit {
  font-family: AuroBlack;
  font-size: 30px !important;
  margin-bottom: 30px;
  margin-right: 45px;
}

.porque-cont .subprimtit {
  font-family: AuroRegular;
  font-size: 20px !important;
  margin-bottom: 60px;
  margin-right: -35px;
}

.porque-cont .doubleline {
  margin-bottom: 150px;
  margin-top: 150px;
  width: 60vh;
}

.porque-cont .cuadro {
  width: 12%;
  margin: 30px;
}

.porque-cont .nuespro {
  text-align: left !important;
  margin-left: 300px;
}

.porque-cont .cup {
  position: absolute;
  top: 3800px;
  left: 1000px;
  transform: rotate(10deg);
  width: 9%;
  margin-bottom: 80px;
}

.porque-cont .subprimtitblack {
  font-family: AuroBlack;
  font-size: 15px !important;
  margin-bottom: 60px;
}

/* PRECIOS */

.precios-cont {
  margin-top: 200px;
  overflow-x: hidden;
  /* max-width: 80vw !important; */
}

.precios-cont .primtit {
  font-family: AuroBlack;
  font-size: 30px !important;
  text-align: right;
  margin-right: 200px;
}

.precios-cont .primit2 {
  padding-left: 100px;
}

.precios-cont .subprimtit {
  font-family: AuroRegular;
  font-size: 15px !important;
  text-align: right;
  margin-right: 200px;
}

.precios-cont .signopeso {
  position: absolute;
  top: 4120px;
  left: 700px;
  width: 9%;
  transform: rotate(-15deg);
  margin: 60px 0px;
}

.precios-cont .nuestrosprecios {
  position: absolute;
  top: 4340px;
  left: 240px;
  width: 70vh;
  z-index: -1;
}

.precios-cont .tabla {
  width: 50%;
  padding-top: 200px;
  margin-bottom: 50px;
  display:block;
  margin:auto;
  z-index: 9999;
}

.precios-cont .doubleline {
  width: 30%;
  position: absolute;
  top: 5650px;
  left: 500px;
}

.precios-cont .condiciones {
  margin-bottom: 100px;
  margin-right: 350px;
}

.precios-cont .juiord {
  margin-right: 170px;
  margin-top: 50px;
  margin-bottom: 100px;
  float: right;
}

.precios-cont .condtext {
  font-size: 12px !important;
  padding-top: 0.5em !important;
}

.precios-cont .juiord p {
  margin-right: -560px;
}

.precios-cont .lightbulb {
  position: absolute;
  top: 5300px;
  left: 450px;
  width: 8%;
}

.precios-cont .torta {
  position: absolute;
  top: 5750px;
  left: 400px;
  margin-top: 80px;
  margin-bottom: 100px;
  width: 8%;
}

.precios-cont .cotiza {
  width: 50%;
  /* margin-right: -200px; */
}

.lupa {
  width: 24vh;
  top: 10rem;
  position: absolute;
  top: 4320px;
  left: 267px;
  /* width: 70vh; */
  /* background-color: white; */
  z-index: 2;
}

.primtit1 {
  position: absolute;
  top: 4165px;
  left: 450px;
  font-family: AuroBlack;
  font-size: 40px !important;
  margin-bottom: 30px;
  margin-top: 200px;
}

.precios-cont .table {
  width: 53% !important;
  margin-top: 160px;
  align-items: center;
}

/* table, th, td {
  border: 5px solid rgb(59, 28, 153);
  border-radius: 50px !important;
  margin: auto;
  margin-top: 180px !important;
  width: 52%;
  border-collapse: separate !important;
  text-align: center;
}

td, th {
  width: 33%;
  padding: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse !important;
  border-radius: 50px !important;
}

th {
  font-family: AuroBlack;
  font-size: 20px !important;
} */

/* HABLEMOS */

.hablemos-cont .primtit {
  font-family: AuroBlack;
  font-size: 40px !important;
  margin-bottom: 30px;
  margin-top: 200px;
}

.hablemos-cont .subprimtit, form {
  font-family: AuroRegular;
  font-size: 15px !important;
}

.hablemos-cont h1 {
  font-size: 30px !important;
}

.hablemos-cont .dialogo {
  position: absolute;
  top: 5950px;
  left: 630px;
  width: 16%;
  margin-top: 60px;
  margin-bottom: 40px;
}

.hablemos-cont .formulario {
  margin-top: 100px;
  padding-top: 200px;
}

.hablemos-cont input, textarea {
  border: 5px solid rgb(89, 106, 236) !important;
  border-radius: 10px !important;
}

.hablemos-cont .doubleline {
  width: 30% !important;
  /* position: absolute;
  top: 5600px;
  left: 500px; */
}

.hablemos-cont p {
  letter-spacing: 0.25em;
  word-spacing: 0.25em;
}

.hablemos-cont .submit {
  width: 46%;
  border: none;
  background-color: transparent;
  font-family: AuroBlack;
  font-size: 1.5rem !important;
  text-decoration: underline;
}

.hablemos-cont .form-label{
  font-size: 1rem;
}

.hablemos-cont .form-control{
  height: 40px;
}

.hablemos-cont .endspace {
  margin-bottom: 150px;
}

/* FOOTER */

.footer {
  background-color: rgb(59, 28, 153);
}

.footer .primtit {
  color: white;
  letter-spacing: 0.25em;
  word-spacing: 0.25em;
  font-family: AuroRegular;
  font-size: 15px !important;
}

.footer .jjstudio {
  width: 10%;
  margin-top: 5px;
}

.footer .date {
  color: white;
  letter-spacing: 0.25em;
  word-spacing: 0.25em;
  font-family: AuroRegular;
  font-size: 15px !important;
  margin-top: 20px;
  margin-bottom: 5px;
}











/* VERSION MOBILE */
/* INICIO */
.iniciomCont .primtit {
  margin-bottom: 20px;
  font-size: 1.5rem !important;
}

.iniciomCont .contactbutton {
  margin: 20px;
  width: 50%;
}

.iniciomCont .personauno {
  width: 40%;
  height: auto;
  margin: 20px;
}

.iniciomCont .doubleline {
  width: 50%;
}

/* QUE HACEMOS */

.queHacemosM .primtit {
  margin: 20px auto;
  font-size: 1.5rem !important;
}

.queHacemosM .subprimtit {
  font-family: AuroBlack;
  font-size: 0.7rem !important;
  margin-bottom: 30px;
}

.queHacemosM .servlegtable {
  margin-top: 60px;
}

.queHacemosM .rocket {
  width: 40%;
  height: auto;
}

.queHacemosM .tablecross {
  width: 3.4%;
  margin-right: 15px;
}

.quehacemos .tableinfo {
  font-size: 1rem !important;
}

/* TRABAJAMOS */

.trabajamosM{
  margin-bottom: 100px;
}

.trabajamosM .primtit {
  margin: 20px auto;
  font-size: 1.5rem !important;
}

.trabajamosM .subprimtit {
  font-family: AuroBlack;
  font-size: 0.7rem !important;
  margin-bottom: 30px;
}

.trabajamosM .doubleline {
  width: 50%;
  margin: 100px auto;
  display: block;
}

.trabajamosM .checkbox {
  width: 30%;
}

.trabajamosM .flujo {
  margin: 30px 0px;
}

.trabajamosM .cologo {
  position: absolute;
  top: 2300px;
  left: -5px;
  width: 30%;
  height: auto;
}

.trabajamosM .onda {
  width: 40%;
  height: auto;
  margin: 20px 20px 20px 50px;
}

.trabajamosM .pplogo {
  width: 30%;
  height: auto;
}

/* POR QUE */

.porqueM .primtit {
  margin: 20px auto;
  font-size: 1.5rem !important;
}

.porqueM .subprimtit {
  font-family: AuroBlack;
  font-size: 0.7rem !important;
  margin-bottom: 30px;
}

.porqueM .cuadro {
  width: 30%;
  margin: 30px;
}

.porqueM .doubleline {
  margin: 50px;
}

.porqueM .cup {
  transform: rotate(10deg);
  width: 30%;
  margin-bottom: 50px;
}

/* PRECIOS */

.preciosM {
  margin: 50px;
}

.preciosM .primtit {
  margin: 20px auto;
  font-size: 1.5rem !important;
}

.preciosM .subprimtit {
  font-family: AuroBlack;
  font-size: 0.7rem !important;
  margin-bottom: 30px;
}

.preciosM .signopeso {
  width: 30%;
  transform: rotate(-15deg);
  margin: 60px 0px;
}

.preciosM .nuestrosprecios {
  width: 300px;
  z-index: -1;
}

.preciosM .table {
  width: 110%;
}

.preciosM .condtext {
  font-size: 12px !important;
  padding-top: 0.5em !important;
}

.preciosM .lightbulb {
  width: 30%;
}

.trabajamosM .doubleline {
  width: 50%;
  margin: 100px auto;
}

/* HABLEMOS */

.hablemosM .primtit {
  margin: 20px auto;
  font-size: 1.5rem !important;
}

.hablemosM .submit {
  width: 46%;
  border: none;
  background-color: transparent;
  font-family: AuroBlack;
  font-size: 1.5rem !important;
  text-decoration: underline;
}

.hablemosM .subprimtit {
  font-family: AuroBlack;
  font-size: 0.7rem !important;
  margin-bottom: 30px;
}

.hablemosM .dialogo {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.hablemosM input, textarea {
  border: 5px solid rgb(89, 106, 236) !important;
  border-radius: 10px !important;
}

.hablemosM .doubleline {
  width: 50%;
  margin: 100px auto;
}