body {
  /* background-color: rgb(45, 51, 77) !important; */
  background-color: white;
  /* padding-top: 80px;
  letter-spacing: 0.1rem; */
}

@font-face{
  font-family: AuroBlack;
  src: url('../src/fonts/auroblack.otf');
}

@font-face{
  font-family: AuroRegular;
  src: url('../src/fonts/auroregular.otf');
}

h1, th {
  font-family: AuroBlack;
  color: rgb(45, 51, 77);
  font-size: 0.8rem !important;
  letter-spacing: 0.2rem;
}

h2, h3, h4, h5, h6, p, nav, td, li {
  font-family: AuroRegular;
  color: rgb(45, 51, 77);
  font-size: 1rem !important;
  letter-spacing: 0.1rem;
}

.color-verde{
  color: rgb(0, 237, 179);
}

.color-azul {
  background-color: rgb(45, 51, 77);
}

/* NAVBAR */

.navcolor {
  background-color: rgb(59, 28, 153);
}

.nav-item {
  color: rgb(255, 255, 255) !important;
  text-decoration: underline !important;
  font-weight: bold !important;
}

.nav-item:hover {
  color: rgb(0, 237, 179) !important;
  text-decoration: underline !important;
}

.logoPP {
  height: 60px;
  width: auto;
  margin: 20px;
  margin-left: 5rem;
}

.navbar-nav {
  margin-left: 300px;
}

/* INICIO */

.cont-inicio {
  margin: 80px 0;
}

.cont-inicio .middle .primtit {
  margin-bottom: 40px;
  font-size: 40px !important;
}

.cont-inicio .middle .primsubtit {
  margin-bottom: 60px;
  font-size: 15px !important;
}

.cont-inicio .btncolor {
  background-color: rgb(59, 28, 153);
  color: rgb(255, 255, 255);
  border-radius: 50px;
  font-family: AuroBlack;
  padding: 10px 30px;
  font-size: 18px !important;
  letter-spacing: 0.2rem;
  vertical-align: middle !important;
  margin-bottom: 120px;
}

.doubleline {
  width: 50%;
}

.isopp {
  position: absolute;
  width: 6%;
  height: 8%;
  top: -0.3rem;
  left: -0.5rem;
}

.contactbutton {
  width: 35%;
}

.personauno {
  width: 80%;
  height: 80%;
  position: absolute;
  right: 300px;
  top: 30px;
}

.cruces {
  width: 8%;
  position: absolute;
  right: 800px;
}

.middle .some {
  vertical-align: middle;
}

.some {
  padding-left: 2.4rem;
}

.cont-inicio .partner {
  width: 16%;
  position: absolute;
  top: 500px;
  right: 200px;
}

.last {
  text-align: right;
  margin-right: 200px;
  margin-top: 200px;
}

.last .primtit {
  font-family: AuroBlack;
  font-size: 40px !important;
}

.last .subprimtit {
  font-family: AuroBlack;
  font-size: 26px !important;
  margin-bottom: 20px;
}

.last .subtit {
  font-family: AuroRegular;
  font-size: 20px !important;
}

/* QUE HACEMOS */

.quehacemos {
  margin-top: 200px;
}

.quehacemos .text {
  margin-left: 200px;
}

.quehacemos .text .primtit {
  font-family: AuroBlack;
  font-size: 25px !important;
  margin-bottom: 30px;
}

.quehacemos .text .subprimtit {
  font-family: AuroRegular;
  font-size: 15px !important;
}

.quehacemos .rocket {
  position: absolute;
  top: 1050px;
  left: 900px;
  width: 24%;
}

.servleg {
  margin-top: 150px;
  text-align: right;
  margin-right: 300px;
}

.quehacemos .servlegtable {
  position: absolute;
  left: 680px;
  /* margin-bottom: 400px; */
}

.quehacemos .servleg .primtit {
  font-family: AuroBlack;
  font-size: 30px !important;
  margin-bottom: 30px;
  margin-right: 45px;
}

.quehacemos .servleg .subprimtit {
  font-family: AuroRegular;
  font-size: 20px !important;
  margin-bottom: 60px;
  margin-right: -35px;
}

.quehacemos .tablecross {
  width: 3.4%;
  margin-right: 75px;
  vertical-align: top !important;
}

.quehacemos .tableinfo {
  font-size: 15px !important;
}

/* .quehacemos .servleg .table tr {
  margin-bottom: 60px;
}

.quehacemos .servleg .table .tableinfo {
  font-family: AuroRegular;
  font-size: 25px !important;
  margin-left: 300px !important;
} */

/* TRABAJAMOS */

.trabajamos-cont {
  margin-top: 400px;
}

.trabajamos-cont .doubleline {
  width: 20%;
  margin: 150px 0px;
}

.checkbox {
  width: 7%;
  position: absolute;
  top: 2260px;
  left: 380px;
}

.trabajamos-cont .primtit {
  font-family: AuroBlack;
  font-size: 30px !important;
  margin-bottom: 30px;
  margin-right: 45px;
}

.trabajamos-cont .subprimtitblack {
  font-family: AuroBlack;
  font-size: 15px !important;
  margin-bottom: 60px;
}

.trabajamos-cont .subprimtit {
  font-family: AuroRegular;
  font-size: 15px !important;
  margin-bottom: 120px;
}

.onda {
  width: 32%;
  margin-top: 150px;
  margin-bottom: 200px;
}

/* POR QUE */

/* .porque-cont {
  margin-bottom: 300px;
} */

.porque-cont .primtit {
  font-family: AuroBlack;
  font-size: 30px !important;
  margin-bottom: 30px;
  margin-right: 45px;
}

.porque-cont .subprimtit {
  font-family: AuroRegular;
  font-size: 20px !important;
  margin-bottom: 60px;
  margin-right: -35px;
}

.porque-cont .doubleline {
  margin-bottom: 150px;
  margin-top: 150px;
}

.cuadro {
  width: 12%;
  margin: 30px;
}

.porque-cont .nuespro {
  text-align: left !important;
  margin-left: 300px;
}

.porque-cont .cup {
  position: absolute;
  top: 4050px;
  left: 900px;
  transform: rotate(10deg);
  width: 9%;
  margin-bottom: 80px;
}

.porque-cont .subprimtitblack {
  font-family: AuroBlack;
  font-size: 15px !important;
  margin-bottom: 60px;
}

/* PRECIOS */

.precios-cont {
  margin: 200px 0px;
}

.precios-cont .primtit {
  font-family: AuroBlack;
  font-size: 30px !important;
  text-align: right;
  margin-right: 200px;
}

.precios-cont .subprimtit {
  font-family: AuroRegular;
  font-size: 15px !important;
  text-align: right;
  margin-right: 200px;
}

.signopeso {
  position: absolute;
  top: 4370px;
  left: 800px;
  width: 9%;
  transform: rotate(-15deg);
  margin: 60px 0px;
}

.nuestrosprecios {
  margin-top: 100px;
  width: 48%;
}

.tabla {
  width: 50%;
  margin-top: 80px;
  margin-bottom: 50px;
}

.precios-cont .doubleline {
  width: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.precios-cont .condiciones {
  margin-bottom: 100px;
}

.precios-cont .juiord {
  margin-right: 170px;
  margin-top: 200px;
  margin-bottom: 100px;
}

.precios-cont .juiord p {
  margin-right: -560px;
}

.precios-cont .torta {
  position: absolute;
  top: 5750px;
  left: 400px;
  margin-top: 80px;
  margin-bottom: 100px;
  width: 8%;
}

.precios-cont .cotiza {
  width: 25%;
  margin-right: -600px;
}

/* HABLEMOS */

.hablemos-cont .primtit {
  font-family: AuroBlack;
  font-size: 40px !important;
  margin-bottom: 60px;
}

.hablemos-cont .subprimtit {
  font-family: AuroRegular;
  font-size: 15px !important;
}

.dialogo {
  position: absolute;
  top: 6350px;
  left: 350px;
  width: 16%;
  margin-top: 60px;
  margin-bottom: 40px;
}

.hablemos-cont .formulario {
  margin-top: 100px;
}

input, textarea {
  border: 5px solid rgb(89, 106, 236) !important;
  border-radius: 10px !important;
}

.bigdoubleline {
  width: 32%;
  height: 4%;
}

.hablemos-cont p {
  letter-spacing: 0.25em;
  word-spacing: 0.25em;
}

.submit {
  width: 46%;
}

.form-label{
  font-size: 1rem;
}

.form-control{
  height: 40px;
}

.hablemos-cont .endspace {
  margin-bottom: 150px;
}

/* FOOTER */

.footer {
  background-color: rgb(59, 28, 153);
}

.footer .primtit {
  color: white;
  letter-spacing: 0.25em;
  word-spacing: 0.25em;
  font-family: AuroRegular;
  font-size: 15px !important;
}

.footer .jjstudio {
  width: 8%;
  margin-top: 150px;
}

.footer .date {
  color: white;
  letter-spacing: 0.25em;
  word-spacing: 0.25em;
  font-family: AuroRegular;
  font-size: 15px !important;
  margin-top: 50px;
  margin-bottom: 350px;
}